* {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* HERO SECTION */

.header {
	display: flex;
	flex-direction: column;
	padding: 5px 250px;
	background-color: #1f2937;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.nav-bar-links ul {
	display: flex;
}

.nav-bar-links li {
	list-style: none;
	margin: 0 10px;
}

.nav-bar .logo {
	font-weight: 900;
	font-size: 24px;
	color: #f9faf8;
	margin-top: 16px;
}

.hero-section {
	display: flex;

	margin-bottom: 100px;
	gap: 20px;
}

.hero-section h1 {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
	margin: 0;
}

.hero-text {
	display: flex;
	flex-direction: column;
	text-align: start;
	flex: 1;
}

.placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	background-color: rgb(132, 138, 153);
}

.hero-text button {
	background-color: #3882f6;
	color: white;
	font-weight: bolder;
	padding: 10px 30px;
	align-self: flex-start;
	border: none;
	border-radius: 10px;
}

.hero-section p,
.nav-bar-links li {
	font-size: 18px;
	color: #e5e7eb;
}

/* INFORMATION SECTION */

.information-section h3 {
	text-align: center;

	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
}

.cards-section {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	gap: 40px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.card p {
	text-align: center;
}

.subtext {
	height: 200px;
	width: 200px;
	border: 3px solid #3882f6;
	border-radius: 10px;
}

/* QUOTE SECTION */

.quote-section {
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	padding: 100px 350px;
}

.quote-section .quote {
	font-size: 36px;
	font-weight: lighter;
	color: #1f2937;
}

.quote-section p {
	align-self: flex-end;
	font-weight: 900;
}

/* SIGN UP SECTION */

.call-to-action {
	background-color: #3882f6;
	display: flex;
	border-radius: 10px;

	align-items: center;

	margin: 100px 250px;
	padding: 20px 100px;
}

.call-to-action-text {
	color: white;
	flex: 2;
	padding: 30px;
}

.call-to-action-text .call-to-action-header {
	font-weight: 900;
}

.call-to-action-header p,
.call-to-action-text p {
	margin-bottom: 0;
	margin-top: 2px;
}

.call-to-action-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.call-to-action-button button {
	background-color: #3882f6;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 20px;
	font-weight: bolder;
}
